In [ ]:
!pip

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("../Datasets/archive/2009.csv")

In [5]:
df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2009-01-01,XE,1204,DCA,EWR,1100,1058.0,-2.0,18.0,1116.0,...,62.0,68.0,42.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-01-01,XE,1206,EWR,IAD,1510,1509.0,-1.0,28.0,1537.0,...,82.0,75.0,43.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-01-01,XE,1207,EWR,DCA,1100,1059.0,-1.0,20.0,1119.0,...,70.0,62.0,36.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-01-01,XE,1208,DCA,EWR,1240,1249.0,9.0,10.0,1259.0,...,77.0,56.0,37.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2009-01-01,XE,1209,IAD,EWR,1715,1705.0,-10.0,24.0,1729.0,...,105.0,77.0,40.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
columns_with_null = df.columns[df.isnull().any()].tolist()

In [8]:
columns_with_null

['DEP_TIME',
 'DEP_DELAY',
 'TAXI_OUT',
 'WHEELS_OFF',
 'WHEELS_ON',
 'TAXI_IN',
 'ARR_TIME',
 'ARR_DELAY',
 'CANCELLATION_CODE',
 'ACTUAL_ELAPSED_TIME',
 'AIR_TIME',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'Unnamed: 27']

In [9]:
null_counts = df.isnull().sum()

In [10]:
null_counts

FL_DATE                      0
OP_CARRIER                   0
OP_CARRIER_FL_NUM            0
ORIGIN                       0
DEST                         0
CRS_DEP_TIME                 0
DEP_TIME                 82867
DEP_DELAY                82867
TAXI_OUT                 85787
WHEELS_OFF               85787
WHEELS_ON                89322
TAXI_IN                  89321
CRS_ARR_TIME                 0
ARR_TIME                 89322
ARR_DELAY               102361
CANCELLED                    0
CANCELLATION_CODE      6342300
DIVERTED                     0
CRS_ELAPSED_TIME             0
ACTUAL_ELAPSED_TIME     102362
AIR_TIME                102361
DISTANCE                     0
CARRIER_DELAY          5258837
WEATHER_DELAY          5258837
NAS_DELAY              5258837
SECURITY_DELAY         5258837
LATE_AIRCRAFT_DELAY    5258837
Unnamed: 27            6429338
dtype: int64

In [12]:
null_percentage = (null_counts / len(df)) * 100
null_percentage

FL_DATE                  0.000000
OP_CARRIER               0.000000
OP_CARRIER_FL_NUM        0.000000
ORIGIN                   0.000000
DEST                     0.000000
CRS_DEP_TIME             0.000000
DEP_TIME                 1.288889
DEP_DELAY                1.288889
TAXI_OUT                 1.334305
WHEELS_OFF               1.334305
WHEELS_ON                1.389288
TAXI_IN                  1.389272
CRS_ARR_TIME             0.000000
ARR_TIME                 1.389288
ARR_DELAY                1.592092
CANCELLED                0.000000
CANCELLATION_CODE       98.646237
DIVERTED                 0.000000
CRS_ELAPSED_TIME         0.000000
ACTUAL_ELAPSED_TIME      1.592108
AIR_TIME                 1.592092
DISTANCE                 0.000000
CARRIER_DELAY           81.794378
WEATHER_DELAY           81.794378
NAS_DELAY               81.794378
SECURITY_DELAY          81.794378
LATE_AIRCRAFT_DELAY     81.794378
Unnamed: 27            100.000000
dtype: float64